@charset "utf-8";
$red: #bc1838;
$brown: #503E2C;
$dark-brown: #503E2C;

$primary: $red;
$info: $brown;

.image.is-256x256 {
    height: 256px;
    width: 256px;
}

hr.page-divider {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

img.profile-pic {
    border: 3px solid #ecf0f1;
    border-radius: 4px;
}

@import "../node_modules/bulma/bulma.sass";